.body {
    padding: 0px;
    margin: 0px;
}


.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #170638;
    color: #d5d6d2;
    padding: 10px;
    grid-area: encabezado;
}

.encabezado img {
   width: 100px ;
   margin: 0px 15px;
}

.enc-centro h1 {
    font-size: 42px;
}

.enc-izq {
    display: flex;
}

.enc-der {
    display: flex;
}

/* ---------------------------------------- */
/* Estilos de menu */
/* ------------------------------------------ */
.menu {
    background-color: #2f2e33;
    color: #d5d6d2;
    text-align: center;
    grid-area: menu;
}

.menu ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
}

.menu ul li {
    display: inline-block;
}

.menu li a {
    color: #2f2e33;
    padding: 10px;
    text-decoration: none;
    color: #d5d6d2;
}

.menu li a:hover {
background-color:#3a5199;
animation: 1.5s infinite boton-menu;
border-radius: 5px;
}


/* ---------------------------------------- */
/* Estilos de Class: Articulo1 */
/* ------------------------------------------ */


.contenedor-p1 {
    grid-area: contenedor-p1;
    
}

.contenedor-p1 img {
    width: 97.6vw;
    height: 10vw;
    margin: 0px;
    
}
/* ---------------------------------------- */
/* Estilos de Class: Articulo2 */
/* ------------------------------------------ */

.contenedor-p2 {
    margin-left: 20px;
    display: flex;
    grid-area: contenedor-p2;
}
    
.contenedor-p3 {
    position: absolute;
    grid-area: contenedor-p3;
    align-content: center;
    text-align: left;
    width: 20%;
    padding-top: -50%;
    right: 70px; 
    
}
.map {
    position: absolute;
    top: auto;
}

.contenedor-p4 {
  
    grid-area: contenedor-p4;
    position: absolute;
    margin-right: 75%;
    margin-left: 3%;
    padding-top: 40px;
    
    
    
} 

/* ---------------------------------------- */
/* Estilos de aside */
/* ------------------------------------------ */



/* ---------------------------------------- */
/* Estilos de footer */
/* ------------------------------------------ */

.pie { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    background-color: #2F2E33;
    color: #d5d6d2;
    grid-area: pie;
    
}

.iconos {
    display: flex;
    column-gap: 12px;
}

.iconos a {
    color:  #d5d6d2;
    font-size: 24px;
}


/* ---------------------------------------- */
/* Estilos Reserva */
/* ------------------------------------------ */
h2  {
    text-align: center;
    color: #2F2E33;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #2F2E33;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    padding: 8px;
    margin:4px;
    background-color: #2F2E33;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
}

a:hover {
    background-color: #0056b3;
}

/* --------------------------------------------------- */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input [type="date"]
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #007bff;
}